@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
	box-sizing: content-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #F2F2EB;
}

/*NAV*/

.nav {
	background-color: #141E26;
	display: flex;
	justify-content: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.1rem;
}

.nav__wrapper{
	display: flex;
	width: 80%;
}

.nav__logo{
	width: 50%;
	display: flex;
	align-items: center;
	height: 100%;
}

.nav__logo img{
	height: 7vh;
}

.nav__list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 50%;
	justify-content: flex-end;
}

.nav__element {
	height: 100%;
	padding-left: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__library {
	text-decoration: none;
	color: #F2F2EB;
	transition: all ease .2s;
}

.nav__library:hover {
	color: #bf3641;
}

/*MAIN*/


.main__container {
	background-size: cover;
	width: 100%;
	height: 100%;
}

.main__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
}

.search-bar {
	height: 20%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

#searchbar {
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 3rem;
	width: 100%;
	padding-bottom: 0.5rem;
	text-align: center;
	color: #F2F2EB;
	transition: all 0.3s ease;
	border: thin solid #F2F2EB;
}

.main__resultsContainer {
	width: 80%;
	height: auto;
	max-height: 70%;
	overflow: auto;
	box-sizing: content-box;
	background-color: #141E26;
	border-radius: 3px;
	transition: all 0.3s ease;
}

.main__resultsContainer .resultsList {
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main__resultsContainer .resultItem {
	display: flex;
	text-decoration: none;
	background-color: #2A3740;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 98%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	border-radius: 3px;
	color: #F2F2EB;
}

.main__resultsContainer .resultItem img {
	width: 175px;
	height: 250px;
	border-top-left-radius: 3px;
}

.main__resultsContainer .resultItem div {
	width: 75%;
	padding-left: 2rem;
}

.main__resultsContainer .error {
	text-align: center;
}

@media(max-width: 600px){
	.nav__wrapper{
		width: 95%;
	}

	#searchbar{
		font-size: 2rem;
	}

	.main__resultsContainer{
		width: 95%;
		height: auto;
		max-height: 50%;
	}

	.main__resultsContainer .resultsList {
		width: 95%;
		height: 100%;
		overflow: auto;
	}

	.main__resultsContainer .resultItem {
		display: flex;
		text-decoration: none;
		background-color: #2A3740;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		border-radius: 3px;
		color: #F2F2EB;
	}
	
	.main__resultsContainer .resultItem img {
		max-height: 175px;
		max-width: 130px;
	}

	.main__resultsContainer .resultItem .resultItem__data{
		padding-left: 1rem;
	}

	.main__resultsContainer .resultItem .resultItem__header{
		padding-left: 0;
	}

	.main__resultsContainer .resultItem .resultItem__title{
		font-size: 1rem;
	}

	.main__resultsContainer .resultItem .resultItem__resum{
		display: none;
	}
}

