* {
    box-sizing: content-box;
}

body {
    background: url(../../img/background.jpg) center / cover no-repeat fixed;
}

.explorar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Cambiar height para fit content*/
    min-height: 1800px;
}

.explorar__wrapper-filtro{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explorar__filtro{
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.explorar__resultList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.explorar__resultList .resultsList {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.explorar__resultList .resultItem{
    width: auto;
    background-color: #141E26;
    color: #F2F2EB;
    text-decoration: none;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    display: flex;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 1rem;
    
}

.resultItem > img {
    min-height: 300px;
    object-fit: cover;
    width: fit-content;
}

.explorar__resultList .resultItem:hover{
    transform: scale(1.05);
}

.explorar__resultList .resultItem__data{
    display: none;
}

.explorar__resultList .resultItem__header{
    padding-top: 10px;
}

.explorar__resultList .resultItem__title{
    width: fit-content;
    margin: 0;
    padding-right: 1rem;
}

.explorar__resultList .resultItem__date{
    padding-bottom: 2px;
}

.explorar__wrapper-filtro > select {
    width:  50%;
    -webkit-appearance:  none;
    padding:  1rem;
    border-radius:  0px;
    color: #fefefe;
    background: #141f27;
}

select.explorar__filtro > select > option {
    text-align: center;
}

@media(max-width: 1300px){
    .explorar__wrapper{
        min-height: 2700px;
    }
}

@media(max-width: 600px){
    .explorar__wrapper-filtro > select {
        width: 100%;
    }
    .explorar__wrapper{
        min-height: 1925px;
    }

    .explorar__wrapper-filtro{
        width: 95%;
    }

    .explorar__resultList{
        max-width: 100vw;
    }

    .explorar__resultList .resultsList{
        width: 95%;
    }

    .explorar__resultList .resultsList .resultItem .resultItem__header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .explorar__resultList .resultsList .resultItem .resultItem__data{
        padding: 0;
        height: 175px;
        width: 100%;
    }

    .explorar__resultList .resultsList .resultItem .resultItem__title{
        height: 50%;
    }

    .explorar__resultList .resultsList .resultItem .resultItem__resum{
        display: none;
    }
}