body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

#root > div {
    min-height: 100vh!important;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh 90vh;
}

#loader {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #141e26;
	display: flex;
	justify-content: center;
  align-items: center;
  transition: all ease .5s;
}

#loader > img {
	width: 50%;
}