.wrapper {
    display: flex;
    justify-content: center;
}
.container {
    width: 80%;
    background: rgba(20, 30, 38, 0.8);
}

.container > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#stats-chart {
    margin: 2rem 0
}