.spotifyLogin > a {
    padding: 1rem;
    background: #22be54;
    color: #fefefe;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}

.spotifyLogin {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}