.pelicula{
    min-height: 1700px;
}

.pelicula__wrapper {
    width: 60%;
    background: rgba(20, 30, 38, 0.8);
    color: #F2F2EB;
    margin-top: 10vh;
    margin-bottom: 10vh;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.pelicula__title {
    text-align: center;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    width: 100%;
    font-size: 4rem;
}

.pelicula__info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
            "poster overview overview"
            ". . ."
            ". . .";
}

.pelicula__poster {
    justify-self: center;
    grid-area: poster;
}

.pelicula__overview {
    margin: 1rem 0;
}

.pelicula__votes {
    grid-area: overview;
}

.pelicula__votes > p:first-of-type {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.pelicula__votes > p:first-of-type > span {
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem;
}

#tracklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
    align-items: center;
}

.errorMsg {
    color: red;
    text-align: center;
}

.track-view{
    width: 300px;
}

.pelicula__imdb {
    color: #f5c519;
    font-size: 1.2rem;
}

@media(max-width: 800px){
    .pelicula{
        min-height: 2400px;
    }

    .pelicula__wrapper{
        width: 95%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    .pelicula__info{
        grid-template-areas:
        ". poster . "
        "overview overview overview"
        "spotify spotify spotify";
    }

    #spotify{
        grid-area: spotify;
        height: fit-content;
    }

    .tracklist__item{
        height: 100px;
    }
}
